<h1>This page displays a specific user</h1>
<div class='user-icon'>
<p>User Photo</p>
</div>
<div style='border: 1px solid gray; margin: 4.0px 3.0px 2.0px 1.0px'>
<h3><%= @user.name %></h3>
<p>Number of posts: <%= @user.posts_counter %></p>
</div>
<div style='border: 1px solid gray; margin: 4.0px 3.0px 2.0px 1.0px'>
<h4>Bio</h4>
<p><%= @user.bio%></p>
</div>
<% @user.three_recent_posts.each do |post| %>
    <div style='border: 1px solid gray; margin: 4.0px 3.0px 2.0px 1.0px'>
    <p>Post: <%= post.id %></p>
    <p><%= post.text %></p>
    <p>Comments: <%= post.comments_counter %></p>
    <p>Likes: <%= post.likes_counter %></p>
    </div>
<% end %>
</div>
<%= link_to "Back to Users", users_path(@users) %>
</div>

<%= link_to "See all Posts", user_posts_path(@user.id) %>

