<h1>This page displays a list of all posts for a specific user</h1>
<div>
<p>User Photo</p>
</div>
<div style='border: 1px solid gray; margin: 4.0px 3.0px 2.0px 1.0px'>
<h3><%= @user.name %></h3>
<p>Number of posts: <%= @user.posts_counter %></p>
</div>

<% @posts.each do |post| %>
    <div style='border: 1px solid gray; margin: 4.0px 3.0px 2.0px 1.0px'>
    <h3>Post: <%= post.id%></h3>
    <strong><%= post.title %></strong> 
    <p><%= post.text%></p>
    <p>Comments: <%= post.comments_counter%></p>
    <p>Likes: <%= post.likes_counter%></p>
    <p><%= link_to "Post details", user_post_path(@user, post.id) %></p><br>
    </div>
    <div style='border: 1px solid gray'>
    <% post.five_most_comments.each do |comment| %>
    <p><strong><%= User.find(comment.user_id).name %>:</strong><%= comment.text %></p>
    <% end %>
    </div>
<% end %>