<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="nav-bar">
      <% if user_signed_in? %>
      <%= link_to 'Home', root_path %>
      <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to logout?'} %>
      <% else %>
      <a href="/users/sign_in">Sign in</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
